  BODY{font-family:"Gill Sans", "Arial", "Helvetica", sans-serif;
       font-size: 90%;
       color:navy;}
  TABLE{font-family:"Gill Sans", "Arial", "Helvetica", sans-serif;
        font-size: 100%;
        color:navy;}
  H1{font-family:"Gill Sans", "Arial", "Helvetica", sans-serif;
     font-size: 160%;
     font-weight:400;
     color:navy;}
  H2{font-family:"Gill Sans", "Arial", "Helvetica", sans-serif;
     font-size: 130%;
     font-weight:400; 
     color:navy;}
  H3{font-family:"courier", "Helvetica", sans-serif;
     font-size: 100%;
     font-weight:400; 
     color:navy;}
  a{text-decoration:none;
    color:blue;}
